<form [formGroup]="formReactiv">
  <input
    formControlName="myControl"
    id="autocompleteValue"
    name="autocompleteValue"
    input-select-all
    type="text"
    placeholder="{{ autocompleteLabel }}"
    aria-label="Number"
    matInput
    [matAutocomplete]="auto"
    class="example-form"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</form>
