<form #autocompleteForm="ngForm" class="example-form">
  <div style="margin-top: 20px">
    <input
      id="autocompleteValue"
      name="autocompleteValue"
      (mouseover)="mouseOver($event)"
      input-select-all
      (focus)="onFocus()"
      [(ngModel)]="selectedOption"
      type="text"
      placeholder="{{ autocompleteLabel }}"
      aria-label="Number"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
      class="example-form"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of optionArrayFiltered | async; track option.id) {
      <mat-option
        [value]="option.DisplayTekst"
        (onSelectionChange)="onSelectOption(option)"
        >{{ option.DisplayTekst }}</mat-option
      >
      }
    </mat-autocomplete>
  </div>
</form>
