<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form
        #loginform="ngForm"
        (ngSubmit)="onSubmit(loginform)"
        name="loginform"
      >
        <div class="form-group">
          <select
            name="sel"
            title="Vælg"
            class="form-control"
            [(ngModel)]="stamkortSelected"
          >
            <option *ngFor="let stamkort of stamkortList">
              {{ stamkort }}
            </option>
          </select>
        </div>
        <app-autocomplete
          [stamkortType]="StamkortTypesEnum.Lejer"
          [autocompleteType]="AutocompleteTypeEnum.Stamkort"
          autocompleteLabel="Indtast navn"
        />
        <app-autocomplete
          [autocompleteType]="AutocompleteTypeEnum.Noter"
          [stamkortType]="2"
          autocompleteLabel="Notetype"
        />
        <app-autocomplete
          [autocompleteType]="AutocompleteTypeEnum.Arkiv"
          [stamkortType]="1"
          autocompleteLabel="Arkivmappe"
        />
      </form>
    </div>
  </div>
  <!-- <button (click)="SearchLejer()" id="search">Søg</button>
  <!-- @for (item of lejer; track item.IdReadonly) {}  -->
  <!-- <p *ngFor="let lej of lejerArray"> -->
  <!-- {{ lej.DisplayTekst }} -->
  <!-- </p> -->
</div>
