<app-header />
@if(!isLogedIn){
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form
        #loginform="ngForm"
        (ngSubmit)="onSubmit(loginform)"
        name="loginform"
      >
        <div class="form-group">
          <label for="email">Brugernavn</label>
          <input
            type="email"
            id="email"
            class="form-control"
            value="kli"
            title="Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Adgangskode</label>
          <input
            type="password"
            id="password"
            class="form-control"
            title="Email"
            value="kli"
          />
        </div>
        <div>
          <button type="submit" class="btn btn-primary md2">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
}@else {
<app-search-control />

}
